spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/auction_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DB_USER:auction_user}
    password: ${DB_PASSWORD:auction_pass}

  jpa:
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
